<link href='https://fonts.cdnfonts.com/css/galano-grotesque-alt' rel='stylesheet'>
{{ 'pdp.min.css' | asset_url | stylesheet_tag }}

<script>
  window.pdpCurrentProduct = {{product |  json}}
</script>

{{ 'pdp.min.js' | asset_url | script_tag }}

<section class='pdp'>
  <div class='pdp--container'>
    <div class='pdp-grid'>
      <div class='pdp-grid--container swiper'>
        <div class='pdp-grid--slider swiper-wrapper'>
          {% for imageItem in product.images %}
            {% assign alt = variant.featured_media.alt | default: variant.title | escape %}
            <figure class='slider-item swiper-slide'>
              <img
                src='{{ imageItem.src | image_url: width: 1100 }}'
                alt='{{ alt }}'
              >
            </figure>
          {% endfor %}
          <figure class='slider-item swiper-slide item-video'>
            <video
              autoplay=''
              muted=''
              loop=''
              playsinline=''
              type='video/mp4'
              src='{{ product.metafields.product.video.value }}'
            ></video>
          </figure>
        </div>
        <div class='swiper-button-next'>
          {% comment %}
            esthetic-ignore
          {% endcomment %}
        </div>
        <div class='swiper-button-prev'>
          {% comment %}
            esthetic-ignore
          {% endcomment %}
        </div>

        <div class='swiper-scrollbar'></div>
      </div>
    </div>
    <div class='pdp-info'>
      <div class='pdp-info--container' data-sticky-element>
        <div class='pdp-info--breadcrumbs'><span>Ready-To-Wear</span> / <span>Tops</span> / <span> Sweaters</span></div>
        <h1 class='pdp-info--title'>{{ product.title }}</h1>
        <p class='pdp-info--price divider'>{{ product.price | money_with_currency }}</p>
        <p class='pdp-info--color'>
          Color: <span class='pdp-info--color-name'>{{ product.options_by_name.Color.values[0] }}</span>
        </p>
        <div class='pdp-info--variants divider'>
          {% assign productHandles = product.metafields.product.handles | split: ', ' %}
          <ul class='pdp-info--variants-list'>
            <li
              class='pdp-info--variants-item selected'
              data-value='{{ product.handle }}'
            >
              <img
                class='pdp-info--variants-item-image'
                src='{{ product.featured_media | image_url: width: 250 }}'
                alt='{{ product.title }}'
              >
            </li>
            {% for productHandle in productHandles %}
              <li
                class='pdp-info--variants-item'
                data-value='{{ productHandle }}'
              >
                <img
                  class='pdp-info--variants-item-image'
                  src='{{ all_products[productHandle].featured_media | image_url: width: 250 }}'
                  alt='{{ all_products[productHandle].title }}'
                >
              </li>
            {% endfor %}
          </ul>
        </div>
        {% if product.options.size >= 1 %}
          <div class='pdp-info--variant-option--container'>
            {% for option in product.options -%}
              <div class='pdp-info--variant-option divider'>
                <div class='pdp-info--variant-option-head'>
                  <p class='pdp-info--variant-option-title' id='pdp-info--variant-{{ option }}-option-title'>
                    {{ option }}
                  </p>
                  {% if option == 'Size' %}
                    <div class='pdp-info--variant-option-actions'>
                      <span class='pdp-info--variant-option-acctions-sg'>Size Guide</span>
                      <span class='pdp-info--variant-option-acctions-fg'>Fit Guide</span>
                    </div>
                  {% endif %}
                </div>
                <div class='pdp-info--variant-option-body'>
                  {% for value in product.options_by_name[option].values %}
                    <div class='pdp-info--option'>
                      <input
                        type='radio'
                        name='{{option}}'
                        {% if option.selected_value == value %}
                          checked
                        {% endif %}
                        value='{{ value }}'
                        id='{{ option | handleize }}-{{ value | handleize }}'
                      >
                      <label
                        class='pdp-info--option-label'
                        for='{{ option | handleize }}-{{ value | handleize }}'
                      >
                        {{- value -}}
                      </label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        <div class='pdp-info--addToCart'>
          <div class='quantity-selector'>
            <button class='quantity-selector--decrease'>-</button>
            <input
              class='quantity-selector--value'
              type='number'
              name='quantity-selector--value'
              value='1'
              id='quantity-selector--value'
            >
            <button class='quantity-selector--increase'>+</button>
          </div>
          <button class='addToCart-btn' id='addToCart-btn'>Add To cart</button>
        </div>
        <span>tnx boys</span>
      </div>
    </div>
  </div>
</section>
